/*#80122E gba(128,18,46):::::::основной цвет(красный)*/
/*#9B3144 rgba(155,49,68):::::побочный цвет(красный светл.)*/
/*#651625 ::::::::::::::::::::побочный цвет (красный темн.)*/ 




/*Меню слево: Основное*/     
.logo {
    background:#651625; 
    padding: 0px;
}
.logo-xs {
     height: 51px;
}
.logo-xs > img {
     height: 100%;
}
.sidebar {                                                     
    height: 100%;
    background: #80122E;
    position: fixed;
    padding: 0px
}
.sidebar h4 {
    background: #80122E;
    margin-bottom: 0;
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: 2px;
    color:#9d9d9d;
}
.nav-sidebar > li > a{
    color:#9d9d9d;
    font-size: 15px;
    padding: 5px 0px;
}
.nav-sidebar > li > a:hover {
    background-color: #9B3144;
    color:white;
}
.smart-menu > li > a, 
.smart-menu > li {
    text-align: center;
}
.smart-menu > .border-foto {
    border-top: 2px solid #9d9d9d;
}
#LEFT_MENU span{
    vertical-align: 40%;
}
#LEFT_MENU a{
    border-bottom: 1px solid #651625;
}
.hash {
    text-align: justify;
    word-spacing: 5px;
    max-height: 250px;
    overflow: hidden;

}
.hash a {
      font-size: 20px;
    color: #9d9d9d;
}

/*--------------------------------------Основное поле-----------------------------*/

.main-area {
    margin-top: 66px;
}



@media screen and (max-width: 767px){
    .masonry[data-columns]::before {
        content: '1 .col-xs-12';
    }   
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .masonry[data-columns]::before {
        content: '2 .col-xs-6';
    }    
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .masonry[data-columns]::before {
        content: '3 .col-xs-4';
    }    
}
@media screen and (min-width: 1200px){
    .masonry[data-columns]::before {
        content: '3 .col-xs-4';
    }    
}



.caption > img {
    margin: auto ;
}


/*----------------------------------------РЕЙТИНГИ-------------------------------*/
.row-img {
    height: 500px;
    background-image: url(http://www.lorempixel.com/1000/500); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}
.rating-btn {
margin-top: 200px;
}
.form-group-rating{
    margin-bottom: 0; 
    background-color: #80122E; 
    border-radius: 0 0 10px 10px;
}   
.form-group-rating > select {
    padding: 5px;
    margin: 5px;
    background-color: #9B3144 ;
    border-color: #651625;
    color: #fff;
    border-radius: 5px;
}
.form-group-rating > label {
    color: #fff;
}

/*--------------------------------------------------------------------------------*/
/*воскл знаки в реге*/
.warning-reg {
    color: #80122E;
}  
/*отступы у форм в chalenge*/
.category1{              
    padding-right:0px;
    margin-bottom: 15px;   
}
/*прижать к низу*/
.bottom-press {
    position: absolute;
    bottom: 0;
}
/*Инструменты в редакторе коментария*/
.cr >.btn {
    border-bottom: none;
}
/*отступ в create-chalenge */
.pulll {
    margin-left: 3px;
}
.border_bottom {
    border-bottom: 1px solid #eee;
}
/*--------------------------------------ПРОФИЛЬ-----------------------------------*/
/*миниатюра профиля в нав панели*/
.profile-top{
 float: right;
 margin-right: -30px;
}
.profile-top > li > a{
    padding-left: 5px;
    padding-right: 5px;
}
.btn-profile-foto {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #80122E;
    padding: 0px;
    margin-top: 5px;
}
.btn-profile-foto > img {
    border-radius: 100%;
}
.P_A{
    padding: 0 4px;
    background: #80122E;
}




/* Навигация профиля:top */
.nav-tabs-profile {
    border: none;
}
.nav-tabs-profile > li > a {
    color:#000000;
}
.nav-tabs-profile > li > a:hover,
.nav-tabs-profile > li > a:focus {
    background-color:transparent; 
    border-color:transparent; 
}
.nav-tabs-profile > li.active > a,
.nav-tabs-profile > li.active > a:hover,
.nav-tabs-profile > li.active > a:focus {
    padding-bottom: 1px;
    border-color:transparent;
    border-bottom: 3px solid;
    border-bottom-color:#80122E ;
}




/*Навигация профиля: left*/
.nav-tabs-profleft > li > a {
    margin-right: 0px;
    color: #000000;
    padding: 5px 13px 5px 2px;
}
.nav-tabs-profleft > li > a:hover,
.nav-tabs-profleft > li > a:focus {
    border-radius: 4px;
    color: #fff;
    background-color:#80122E;
}
.nav-tabs-profleft > li.active > a,
.nav-tabs-profleft > li.active > a:hover,
.nav-tabs-profleft > li.active > a:focus {
    color: #fff;
    border-color: #80122E;
    background-color: #80122E; 
    border-radius: 4px;
}
/*Friend*/
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.user {
    position: relative;
    padding:0 10px 10px;
    min-height:150px;
    height:auto;
    margin: 10px 0;
}
.user > .lead {
    margin: 0;
}
.btn-for-con {
    position: absolute;
    right: 0;
    top: 0; 
}

/*Челенджколл*/
.video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%; /* Если видео 16/9, то 9/16*100 = 56.25%. Также и с 4/3 - 3/4*100 = 75% */
}
.video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*message*/
.message-proffile > div {
    border-radius: 3px;
    background-color: #eee;
    margin-top: 10px;
}
.message-proffile > div:hover {
    background-color: gray;
    cursor: pointer;
}
.new_message {
    color:#80122E;
    float: right;
}

.new_message {
  -webkit-animation: new_message 1s linear infinite;
  animation: new_message 1s linear infinite;
}
@-webkit-keyframes blink2 {
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes new_message {
  100% { color: rgba(34, 34, 34, 0); }
}

/*Заказал*/
.profile table span {
    float: right;
}
/*--------------------------------------About-----------------------------------*/
.about-left-area div.col-xs-12,
.about-right-area div.col-xs-12 {
    padding: 0;
    height: 250px;
}
.about-left-area > h2{
    float:left;
}
.about-right-area > h2{
    float: right;
}
.about-left-area .about-area,
.about-right-area .about-area{
    background: rgba(0,0,0,0.2);
}
.about-area {
    height: inherit;
    text-align: center;
    font-size: 25px;
}
.about-left-area div.col-xs-3,
.about-right-area div.col-xs-3 {
    height: inherit;
}
.img-about {
    width: 100%;
    height: inherit;
}

/*-------------------------------------Video----------------------------------*/
.video-bar {
    padding-top: 5px;
    padding-bottom: 3px
}
/*---------------------------Challenge(направления)------------------------------*/
.img_background{
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
    margin: 15px 0 15px 0;
    height: 400px;
    background-image: url(http://www.lorempixel.com/1000/500); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
}
.img_background h2{
    padding: 60px 35px 0 0;
    margin-bottom: 0;
    text-align: right;
    color: #80122E;
}
._font_chl {
    color: #fff;
}
.back-op {
   width: inherit;
    height: inherit;
    position: relative;
}
.back-op > p{
    background: rgba(0,0,0,0.2);
    margin: 0px 35px 0 35px;
    text-align: right;
    color: #fff;
}
.back-op-menu p{
    font-size: 1.4em;
    padding: 10px;
    border-top: 1px solid;
    margin: 0px 35px 0 35px;
    text-align: right;
    color: #fff;
    opacity: .0;
}
.back-op-menu p > a{
    color: #fff;
    
}
.img_background:hover .back-op{
background: rgba(0,0,0,0.7);
    -webkit-transition: all 700ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 700ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 700ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 700ms cubic-bezier(0.42, 0, 0.58, 1);
}
.img_background:hover p{
    background: none;
      -webkit-transition: all 700ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 700ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 700ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 700ms cubic-bezier(0.42, 0, 0.58, 1);
}
.img_background:hover .back-op-menu p{
    opacity: 1;
}

/*--------------------------------------------Challenge-work(page)---------------------------*/

/*--------------------------------------ФУТЕР-----------------------------------*/
.footer{
    background: #101010;
    padding-bottom: 3px;
}
.footer h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid #9d9d9d;
    color: #9d9d9d;
}
.footer ul{
    list-style-type: none;
    padding: 0px;
}
.footer ul > li > a{
    color: #9d9d9d;
}


